#nurikabe{
	--sqr_size:31px;
	// --col_count: 6;
}
.btn {
	margin: 0 .25em;
}

details ul{
	padding-left:1em;
	li::marker{
		content:"â—  ";
	}
}
.square {
	--count: '0';
	font-size: var(--sqr_size);
	border: 1px solid;
	height: 1.7em;
	width: 1.7em;
	vertical-align: middle;
	text-align: center;
	user-select: none;
	cursor: pointer;
	position: relative;

	&.hint.root_highlight::after {
		content: var(--count);
		position: absolute;
		/* top: -1em; */
		font-size: .6em;
		top: -.6em;
		right: -.6em;
		background-color:chartreuse;
		border-radius: 1em;
		z-index: 1;
		aspect-ratio: 1;
		height: 1.5em;
		border: 2px solid green;
		display: flex;
		justify-content: center;
		align-items: center;
		// color:black;
		@media (prefers-color-scheme: dark) {
			background-color: rgba(0, 114, 0, 0.917);
		}
	}
	&:hover {
		box-shadow: 0 0 0px 2px green;
	}
	&.wall {
		background-color: black;

		@media (prefers-color-scheme: dark) {
			background-color: white;
		}
	}
	&.wall_highlighted-left {
		border-left: 2px solid deepskyblue;
	}
	&.wall_highlighted-top {
		border-top: 2px solid deepskyblue;
	}
	&.wall_highlighted-right {
		border-right: 2px solid deepskyblue;
	}
	&.wall_highlighted-bottom {
		border-bottom: 2px solid deepskyblue;
	}
	&.wall_highlighted {
		border: 2px solid deepskyblue;
	}
	&.island_highlighted {
		background-color: rgba(108, 236, 108, 0.917);

		@media (prefers-color-scheme: dark) {
			background-color: rgba(0, 114, 0, 0.917);
		}
	}
}
table#gameboard {
	border:3px solid;
	// display: inline-block;
	margin: .5em auto;
	position: relative;
	// width:100%;
	// width:calc(var(--sqr_size)*var(--col_count));
}

#det_api,
#det_help {
	border:3px solid rgb(63, 146, 242);
	border-radius: .5em;

	table{
		td{
			border-top: 1px solid lightgray;
			border-bottom: 1px solid lightgray;
			padding: 0.25em;
		}
	}
	&>summary,
	&>div{
		padding:.25em;
	}

	&>summary:hover{
		background-color: rgba(0,0,180, .05);

	}
}
.wrap_board{
	position: relative;
	// overflow: scroll;
	// height: calc(100vh - 170px);
	// width: calc(100% - 150px);
	// display: inline-block;
}
#fullboardchange{
	margin: auto;
}
#gameboard.won{
	opacity: .5;
	pointer-events: none;
}
@media (prefers-color-scheme: dark) {
	/* CSS rules for dark mode */
	#api_difficulty{
		color:white;
		background-color: black;
	}
}
#blanket{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:white;
	opacity: .5;
	display:flex;
	align-items: center;
	justify-content: center;

	@media (prefers-color-scheme: dark) {
		background-color: black;
	}
}
#tbl_moves{
	border:3px solid;
	th{
		padding:.25em;
	}
	td{
		border: 1px solid;
		padding:.25em;
		text-align: center;
	}
}
.pill-filter{
	border: 2px solid green;
	padding: .125em;
	display: inline-block;
	margin-left: .25em;
	border-radius: .25em;
	font-size: .8em;
}
#det_api #tbl_filter{
	td{
		padding:.5em 0;
	}
}
.wrap_option{
	--option-color: gray;
	display: inline-block;
	border:2px solid var(--option-color);
	border-radius: .25em;
	overflow: hidden;

	&>label:has(input[type=radio]){
		padding:.25em .5em;
		border-right: 2px solid var(--option-color);
		cursor: pointer;
		&:last-child{
			border-right:none;
		}
	}
	input[type=radio]{
		display: none;
	}
	&>label:has(input[type=radio]:checked){
		background-color: var(--option-color);
		color:white;
	}
}